* {
    font-family: "Helvetica", Arial, sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-decoration: none;
}



/* navigation -------------------------------- */

#nav-menu {
  background-color: #333;
  color: #fff;
  height: 50px;
  margin-bottom: 20px;
  padding: 20px;
}

  #nav-menu .nav-logo {
    float: left;
    width: 80px;
  }

  #nav-menu .menu-button {
    display: hidden;
    visibility: hidden;
  }

    #nav-menu #nav-list {
      float: right;
      margin-top: 20px;
    }

      #nav-menu li {
        display: inline-block;
      }

        #nav-menu li a {
          color: #eee;
          display: block;
          font-size: 14px;
          padding: 0 20px 20px;
        }

          #nav-menu li a:hover {
            color: cyan;
            cursor: pointer;
            transition: all 0.3s;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
          }

          .dropdown a {
            padding-bottom: 34px !important;
          }

            .dropdown ul {
              background: #555;
              border-radius: 0 0 6px 6px;
                -webkit-border-radius: 0 0 6px 6px;
                -moz-border-radius: 0 0 6px 6px;
              display: hidden;
              margin: 0 0 0 10px;
              opacity: 0;
              padding: 10px;
              position: absolute;
              transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
              visibility: hidden;
            }

              .dropdown:hover ul {
                display: block;
                opacity: 1;
                position: absolute;
                visibility: visible;
              }

              .dropdown ul li {
                display: block !important;
              }

                .dropdown ul li a {
                  color: #ddd !important;
                  padding: 10px 20px 10px 10px !important;
                }

                  .dropdown ul li a:hover {
                    color: cyan !important;
                  }


/* responsive -------------------------------- */

@media screen and (max-width: 960px) {

#nav-menu {
  height: auto;
  padding: 20px 20px 15px;
}

  #nav-menu .menu-button {
    background: url(img/responsive-menu.png) left top no-repeat;
    display: block;
    float: right;
    font-size: 12px;
    height: 30px;
    margin-top: 10px;
    transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
    visibility: visible;
    width: 30px;
  }

    #nav-menu .menu-button:hover {
      cursor: pointer;
      opacity: 0.75;
      transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }

    #nav-menu #nav-list {
      float: none;
      height: 0px;
      overflow: hidden;
      transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
      width: 100%;
    }

      #nav-menu #nav-list.expanded {
        height: 240px;
        transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
      }

      #nav-menu li {
        border-top: 1px solid #444;
        display: block;
        margin: 0;
        text-align: center;
      }

        #nav-menu li:first-of-type, #nav-menu li li {
          border: none;
        }

        #nav-menu li a {
          padding: 15px 0 12px;
          font-size: 14px;
          color: #eee;
        }

          .dropdown a {
            padding-bottom: 10px !important;
          }

            .dropdown ul {
              background: transparent;
              display: block;
              margin: 0;
              opacity: 1;
              padding: 0;
              position: relative;
              visibility: visible;
              min-width: 100px;
              height: auto;
              transition: all 0.5s;
              -webkit-transition: all 0.5s;
              -moz-transition: all 0.5s;
              -o-transition: all 0.5s;
            }

              .dropdown:hover ul {
                display: block;
                height: auto;
                position: relative;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
              }

                .dropdown ul li {
                  display: block !important;
                }

                  .dropdown ul li a {
                    padding: 10px !important;
                  }

}
