/* merge new branch */

* {
    font-family: "Helvetica", Arial, sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-decoration: none;
}



/* navigation -------------------------------- */

#menu {
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

    #menu .logo {
        float: left;
    }

    #menu .menu-button {
        display: hidden;
        visibility: hidden;
    }

    #menu #nav-list {
        float: right;
    }

        #menu li {
            display: inline-block;
        }

            #menu li a {
                display: block;
                padding: 0 10px;
                font-size: 14px;
                color: #ccc;
            }

            .dropdown ul {
                background: #888;
                display: hidden;
                margin: 0 0 0 10px;
                padding: 10px;
                position: absolute;
                visibility: hidden;
                min-width: 100px;
                height: 0px;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
            }

                .dropdown:hover ul {
                    display: block;
                    height: 55px;
                    position: absolute;
                    visibility: visible;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }

                .dropdown ul li {
                    display: block !important;
                }

                    .dropdown ul li a {
                        color: #fff !important;
                        font-style: italic;
                        margin: 10px 0;
                    }



/* responsive -------------------------------- */

@media screen and (max-width: 960px) {

#menu {
    padding: 20px;
    text-align: right;
}

    #menu .menu-button {
    color: #fff;
    display: block;
    font-size: 12px;
    text-align: right;
    visibility: visible;
    }

        #menu .menu-button:hover {
            color: #aaa;
            cursor: pointer;
        }

    #menu #nav-list {
        float: none;
        height: 0px;
        overflow: hidden;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        width: 100%;
    }

        #menu #nav-list.expanded {
            height: 200px;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
        }

        #menu li {
            display: block;
            margin: 0;
            text-align: center;
        }

            #menu li a {
                display: block;
                padding: 10px 0;
                font-size: 14px;
                color: #ccc;
            }

                #menu li a:hover {
                    color: #fff;
                }

            .dropdown ul {
                background: transparent;
                display: block;
                margin: 0;
                padding: 0;
                position: relative;
                visibility: visible;
                min-width: 100px;
                height: auto;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
            }

                .dropdown:hover ul {
                    display: block;
                    height: auto;
                    position: relative;
                }

                .dropdown ul li {
                    display: block !important;
                }

                    .dropdown ul li a {
                        color: #999 !important;
                        font-style: italic;
                        margin: 0;
                    }

                        .dropdown ul li a:hover {
                            color: #fff !important;
                        }

}